.generator {
  box-sizing: border-box;
  width: 700px;
  height: 670px;
  float: left;
  background: rgba(46, 54, 65, 0.64);
  padding: 23px;
  padding-top: 9px;

  &__title {
    margin: 0;
    padding: 0;
    font-family: "SegoeUILight";
    font-weight: normal;
    color: #fff;
    font-size: 36px;
    margin-bottom: 54px;
  }

  &__box {
    width: 651px;
    height: 534px;
    background: #f1f1f5;
    position: relative;
  }
  
  //Для добавления паттерна после загрузки изображения нужно блоку .generator__box добавить класс .generator__box_filled
  &__box_filled {
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
  }

  &__box-source {
    position: absolute;
    width: 651px;
    height: 534px;
    @include absolute-center();

    &-image {
      position: absolute;
      width: 651px;
      height: 534px;
    }
  }

  &__box-watermark {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    cursor: pointer;

    &-image {
      position: absolute;
      width: 0;
      height: 0;
    }
  }
}