

.settings-block__slider{
  width: 218px;
  height: 3px;
	background: #dbe1e8;
	border-radius: 1px;
	margin-top: 25px;
	position: relative;
	margin-bottom: 15px;
	&:before{
		content: ' ';
		display: inline-block;
	  width: 128px;
	  height: 3px;
	  background: #9eb2c0;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
}

.settings-block__toggle{
	width: 8px;
	height: 8px;
	background: #9eb2c0;
	border: 7px solid #dbe1e8;
	border-radius: 50%;
	box-shadow: 0 1px 1px 0 #727273;
	position: absolute;
	top: 38px;
	left: 137px;
	&:hover{
		background: $maincolor;
		box-shadow: 0 2px 1px 0 #727273;
		cursor: pointer;
	}
}
