.ui-widget {
  &-content {
    width: 218px;
    height: 3px;
    background: #dbe1e8;
    border-radius: 1px;
    position: relative;
    margin: 25px auto 15px;
  }
}

.ui-state-default {
  width: 8px;
  height: 8px;
  background: #9eb2c0;
  border: 7px solid #dbe1e8;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 #727273;
  position: absolute;
  top: -11px;
  margin-left: -11px;

  &:hover {
    background: $maincolor;
    box-shadow: 0 2px 1px 0 #727273;
    cursor: pointer;
  }

  &:focus,
  &:active {
    outline: 0;
  }
}