.settings-block{
	&__position{
		margin-left: 20px;
    padding-top: 1px;
    width: 102px;
    height: 101px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    float: left;
	}

	&__coords{
		float: right;
		margin-bottom: 14px;
	}

	&__title{
		&_margin{
      margin-bottom: 28px;
      padding-top: 6px;
    }
	}
}



.position-label__fake-radio{
	width: 33px;
	height: 32.5px;
	background: #dbe1e8;
	border: 1px solid #9eb2c0;
	margin-right: -2px;
	padding: 0;
	cursor: pointer;
	margin-top: -1px;

	&:hover{
		background: $maincolor;
		border: 1px solid $maincolor;
	}

	&[disabled="disabled"]{
		background: #ccc;
    border: 1px solid #adadad;
    opacity: 0.4;
    cursor: default;
	}
}

.position-label:nth-child(3) .position-label__fake-radio{
	border-radius: 0 4px 0 0;
}

.position-label:nth-child(7) .position-label__fake-radio{
	border-radius: 0 0 0 4px;
}

.position-label:first-child .position-label__fake-radio{
	border-radius: 4px 0 0 0;
}

.position-label:last-child .position-label__fake-radio{
	border-radius: 0 0 4px 0;
}

.input-group__input:checked ~ .position-label__fake-radio{
	background: $maincolor;
}

.coords-settings{
	display: block;
	margin-bottom: 5px;
	margin-right: 38px;
	position: relative;

	&__title{
		display: inline-block;
		font-family: "RobotoLight";
		font-size: 16px;
		color: #2e3641;
		font-weight: normal;
		margin-right: 4px;
		position: relative;
		top: -3px;
		&[disabled="disabled"]{
			color: #ccc;
		}
	}

	&__input{
		box-sizing: border-box;
		width: 46px;
		height: 46px;
		border: 1px solid #9eb2c0;
		border-radius: 3px;
		text-align: center;
		font-family: "SegoeUILight";
		font-size: 24px;
		color: #444a53;
		font-weight: normal;
		background: #f1f1f5;
		margin-right: 3px;

		&:focus{
	    outline-color: #d5756f;
	  }

	  &[disabled="disabled"]{
			background: #ccc;
	    border: 1px solid #adadad;
	    opacity: 0.4;
	    cursor: default;
		}
	}

	&__top{
		display: inline-block;
		background: url('../img/sprite.png');
		width: 13px;
		height: 8px;
		background-position: -80px -62px;
		position: absolute;
		top: 7px;
		right: -18px;
		opacity: 0.5;

		&:hover{
			cursor: pointer;
			opacity: 1;
		}

		&[disabled="disabled"]{
			opacity: 0.3;
			cursor: default;
		}
	}

	&__bottom{
		display: inline-block;
		background: url('../img/sprite.png');
		width: 13px;
		height: 8px;
		background-position: -80px -90px;
		position: absolute;
		bottom: 12px;
		right: -18px;
		opacity: 0.5;

		&:hover{
			cursor: pointer;
			opacity: 1;
		}
		
		&[disabled="disabled"]{
			opacity: 0.3;
			cursor: default;
		}
	}
}

