.settings-block {
  &__position {
    margin-left: 20px;
    padding-top: 1px;
    width: 102px;
    height: 101px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    float: left;
  }

  &__coords {
    float: right;
    margin-bottom: 14px;
  }

  &__title {
    &_margin {
      margin-bottom: 28px;
      padding-top: 6px;
    }
  }

  &__position-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @extend %clearfix;
  }

  &__position-item {
    float: left;
    width: 33px;
    height: 32.5px;
    background: #dbe1e8;
    border: 1px solid #9eb2c0;
    margin-right: -2px;
    padding: 0;
    cursor: pointer;
    margin-top: -1px;

    &:hover {
      background: $maincolor;
      border: 1px solid $maincolor;
    }

    &_active {
      .settings-block__position-item-link {
        background: $maincolor;
      }
    }

    .settings-block_disabled & {
      background: #ccc;
      border: 1px solid #adadad;
      opacity: 0.4;
      cursor: default;
    }
  }

  &:nth-child(3) {
    border-radius: 0 4px 0 0;
  }

  &:nth-child(7) {
    border-radius: 0 0 0 4px;
  }

  &:first-child {
    border-radius: 4px 0 0 0;
  }

  &:last-child {
    border-radius: 0 0 4px 0;
  }

  &__position-item-link {
    display: block;
    height: 100%;
  }
}

.coords-settings {
  display: block;
  margin-bottom: 11px;
  margin-right: 38px;
  position: relative;

  &__title {
    display: inline-block;
    font-family: "RobotoLight";
    font-size: 16px;
    color: #2e3641;
    font-weight: normal;
    margin-right: 4px;
    position: relative;
    top: -3px;

    .settings-block_disabled & {
      color: #ccc;
    }

    &_x {
      &.coords-settings__title_tiling {
        position: absolute;
        background: url('../img/sprite.png');
        width: 14px;
        height: 30px;
        background-position: -61px -63px;
        left: -16px;
        top: 10px;
        color: transparent;
      }
    }

    &_y {
      &.coords-settings__title_tiling {
        position: absolute;
        background: url('../img/sprite.png');
        width: 29px;
        height: 9px;
        background-position: -132px -10px;
        left: -33px;
        top: 18px;
        color: transparent;
      }
    }
  }

  &__input {
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    border: 1px solid #9eb2c0;
    border-radius: 3px;
    text-align: center;
    font-family: "SegoeUILight";
    font-size: 24px;
    color: #444a53;
    font-weight: normal;
    background: #f1f1f5;
    margin-right: 3px;

    &:focus {
      outline-color: #d5756f;
    }

    .settings-block_disabled & {
      background: #ccc;
      border: 1px solid #adadad;
      opacity: 0.4;
      cursor: default;
    }
  }

  &__top {
    display: inline-block;
    background: url('../img/sprite.png');
    width: 13px;
    height: 8px;
    background-position: -80px -62px;
    position: absolute;
    top: 7px;
    right: -18px;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .settings-block_disabled & {
      opacity: 0.3;
      cursor: default;
    }
  }

  &__bottom {
    display: inline-block;
    background: url('../img/sprite.png');
    width: 13px;
    height: 8px;
    background-position: -80px -90px;
    position: absolute;
    bottom: 12px;
    right: -18px;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .settings-block_disabled & {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.settings-block__position-place {
  position: absolute;
  width: 102px;
  height: 101px;
  left: 20px;
  margin-top: -1px;
  display: none;
}

.position-place_x {
  display: block;
  width: 101px;
  height: 20px;
  background: $maincolor;
  margin-top: 41px;
  cursor: pointer;
  position: absolute;

}

.position-place_y {
  height: 101px;
  width: 20px;
  background: $maincolor;
  margin: 0 auto;
  cursor: pointer;
}

.place-butt {
  position: absolute;
  top: 0;
  right: 10px;
}

.place-button {
  display: inline-block;
  background-image: url('../img/sprite.png');
  width: 19px;
  height: 19px;

  &_alone {
    background-position: -10px -62px;
    opacity: 0.7;
    margin-left: 6px;

    &.place-button_active {
      background-position: -33px -62px;
      opacity: 1;

      &:hover {
        opacity: 1;
        cursor: default;
      }
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &_tiling {
    background-position: -33px -87px;
    opacity: .7;


    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &.place-button_active {
      background-position: -10px -87px;
      opacity: 1;


      &:hover {
        opacity: 1;
        cursor: default;
      }
    }
  }
}