.input-group {
  position: relative;

  &__input {
    position: absolute;
    opacity: 0;

    &:focus {
      outline-color: #d5756f;
    }
  }

  &__fileName-box {
    display: block;
    width: inherit;
    height: inherit;
    color: #9eb2c0;
    font-size: 12px;
    font-family: 'SegoeUiLight';
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 4px;
    padding-right: 40px;
  }

  &__fake-input {
    width: 217px;
    height: 25px;
    border: 1px solid #a3b0be;
    border-radius: 3px;
    margin: 0 20px 20px;
    background: #f1f1f5;
    position: relative;
    cursor: pointer;

    &:after {
      content: ' ';
      display: inline-block;
      width: 39px;
      height: 27px;
      border-radius: 0 3px 3px 0;
      background: $maincolor;
      position: absolute;
      top: -1px;
      right: -1px;
      background-image: url('../img/sprite.png');
      background-position: 0 -6px;
      cursor: pointer;
    }

    &:hover {
      &:after {
        background-color: darken($maincolor, 5%);
      }
    }

    &:focus {
      outline-color: #d5756f;
    }

    .settings-block_disabled & {
      background: #ccc;
      border: 1px solid #adadad;
      opacity: 0.4;
      cursor: default;

      &:after {
        cursor: default;
      }

      &:hover {
        &:after {
          background-color: $maincolor;
        }
      }
    }
  }
}

.file-error {
  position: absolute;
  z-index: 1;
  font-family: 'RobotoLight';
  font-size: 12px;
  top: -17px;
  left: 20px;
  color: #CA4E46;
  border: 1px solid rgba(202, 78, 70, 0.46);
  border-radius: 4px;
  padding: 4px 6px;
  background: #fff;
  width: 205px;
}