.input-group{
  &__input{
    position: absolute;
    opacity: 0;

    &:focus{
      outline-color: #d5756f;
    }
  }

  &__fileName-box{
    display: block;
    width: inherit;
    height: inherit;
    color: #9eb2c0;
    font-size: 12px;
    font-family: 'SegoeUiLight';
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 4px;
    padding-right: 40px;
}

  &__fake-input{
    width: 219px;
    height: 23px;
    border: 1px solid #a3b0be;
    border-radius: 3px;
    margin: 0 20px;
    background: #f1f1f5;
    position: relative;
    margin-bottom: 25px;

    &:after{
      content: ' ';
      display: inline-block;
      width: 37px;
      height: 25px;
      border-radius: 0 3px 3px 0;
      background: $maincolor;
      position: absolute;
      top: -1px;
      right: -1px;
      background-image: url('../img/sprite.png');
      background-position: -2px -6px;
      cursor: pointer;
    }

    &:hover{
      &:after{
        background-color: darken($maincolor, 5%);
      }
    }

    &:focus{
      outline-color: #d5756f;
    }

    &[disabled="disabled"]{
      background: #ccc;
      border: 1px solid #adadad;
      opacity: 0.4;
      cursor: default;

      &:after{
        cursor: default;
      }
      
      &:hover{
        &:after{
          background-color: $maincolor;
        }
      }
    }
  }
}

