main.container
	.generator
		h1.generator__title Генератор водяных знаков
		.generator__box
			.generator__image-wrap
				img(src="img/cat.jpg" alt="cat").generator__image

	form.settings
		h2.settings__title Настройки

		// Начало блока загрузки изображений
		.settings-block
			.settings-block__title Исходное изображение
			label.input-group
				.input-group__fake-input
				input.input-group__input(type="file" id="source-file")
				//рекомендую js вешать на id

			.settings-block__title Водяной знак
			label.input-group
				.input-group__fake-input
				input.input-group__input(type="file" id="mark-file") 
				//рекомендую js вешать на id
		// Конец блока загрузки изображений


		// Начало блока выбора положения водяного знака
		.settings-block
			.settings-block__title.settings-block__title_margin Положение

			.settings-block__position
				- var positions = ['top-left', 'top-center', 'top-right', 'center-left', 'center-center', 'center-right', 'bottom-left', 'bottom-center', 'bottom-right']
				each position in positions
					label.position-label
						input.input-group__input(type="radio" id="#{position}" value="#{position}" name="position")
						.position-label__fake-radio

			.settings-block__coords
				label.coords-settings
					p.coords-settings__title X
					input.coords-settings__input(type="text" id="coordX")
					.coords-settings__top
					.coords-settings__bottom

				label.coords-settings
					p.coords-settings__title Y
					input.coords-settings__input(type="text" id="coordY")
					.coords-settings__top
					.coords-settings__bottom
			.clearfix
		// Конец блока выбора положения водяного знака	


		// Начало блока слайдера прозрачности
		.settings-block
			.settings-block__title Прозрачность
				input.settings-block__input(type="text" id="opacityInput")
				.settings-block__slider
				.settings-block__toggle
		// Конец блока слайдера прозрачности

		// Начало блока кнопок
		.settings-block
				button.settings-block__button.settings-block__button_reset(type="reset" id="resetForm") Сброс
				button.settings-block__button.settings-block__button_submit(type="submit" id="download") Скачать
		// Конец блока кнопок



