- var positions = ['top-left', 'top-center', 'top-right', 'center-left', 'center-center', 'center-right', 'bottom-left', 'bottom-center', 'bottom-right']

.buttons
    button.button.button__rus РУС
    button.button.button__eng ENG
    //Сдвигается вправо классом .button__like_open
    .button.button__like
        ul.social
            li.social__list
                a(href="#").social__item.social__item_fb facebook
            li.social__list
                a(href="#").social__item.social__item_tw twitter
            li.social__list
                a(href="#").social__item.social__item_vk vkontakte

main.container
    .generator
        h1.generator__title Генератор водяных знаков
        //Для добавления паттерна после загрузки изображения нужно блоку .generator__box добавить класс .generator__box_filled
        .generator__box
            .generator__box-source
                img(src='' alt='').generator__box-source-image
                .generator__box-watermark
                    img(src='' alt='').generator__box-watermark-image
                .generator__box-tiling-wrap
                    .generator__box-tiling

    form.settings(action="server/upload.php" method="post" enctype="multipart/form-data" id="form-upload" name="form")
        h2.settings__title Настройки
        // Начало блока загрузки изображений
        #settings-block-sourceImage.settings-block
            .settings-block__title.settings-block__title-source Исходное изображение

            label.input-group
                .input-group__fake-input
                    .input-group__fileName-box.source
                input(id="source-file" type="file" name="source-file").input-group__input

        #settings-block-watermark.settings-block.settings-block_disabled
            .settings-block__title.settings-block__title-watermark Водяной знак

            label.input-group
                div.input-group__fake-input
                    .input-group__fileName-box.watermark
                input(id="watermark-file" type="file" name="watermark-file" disabled="disabled").input-group__input
        // Конец блока загрузки изображений
        // Начало блока выбора положения водяного знака
        #settings-block-position.settings-block.settings-block_disabled
            .settings-block__title.settings-block__title_margin Положение

            .place-butt
                #place-button-alone.place-button.place-button_alone.place-button_active
                #place-button-tiling.place-button.place-button_tiling

            .settings-block__position
                ul.settings-block__position-list

                    each position in positions
                        li.settings-block__position-item
                            a(href="#" id="#{position}").settings-block__position-item-link
                .settings-block__position-place
                    .position-place.position-place_x
                    .position-place.position-place_y


            .settings-block__coords
                label.coords-settings
                    .coords-settings__title.coords-settings__title_x X
                    //.coords-settings__title_arr
                    input.coords-settings__input(type="text" id="coordX" disabled="disabled" readonly="readonly")
                    div(data-axis="x" data-vector="top").coords-settings__arrow.coords-settings__top
                    div(data-axis="x" data-vector="bottom").coords-settings__arrow.coords-settings__bottom

                label.coords-settings
                    .coords-settings__title.coords-settings__title_y Y
                    //.coords-settings__title_arrow
                    input(type="text" id="coordY" disabled="disabled" readonly="readonly").coords-settings__input
                    div(data-axis="y" data-vector="top").coords-settings__arrow.coords-settings__top
                    div(data-axis="y" data-vector="bottom").coords-settings__arrow.coords-settings__bottom
            .clearfix
        // Конец блока выбора положения водяного знака
        // Начало блока слайдера прозрачности
        #settings-block-opacity.settings-block.settings-block_disabled
            .settings-block__title.settings-block__title-transparency Прозрачность
            input(type="text" id="opacityInput" disabled="disabled").settings-block__input
            .settings-block__slider
        // Конец блока слайдера прозрачности
        // Начало блока кнопок
        #settings-block-buttons.settings-block.settings-block_button.settings-block_disabled
            button(type="reset" id="resetForm" disabled="disabled").settings-block__button.settings-block__button_reset Сброс
            button(type="submit" id="download" disabled="disabled").settings-block__button.settings-block__button_submit Скачать
            a(download='result.jpg').fake-link
        // Конец блока кнопок